@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* COLORS */
    ---primary-color: #3572EF;
    ---secondary-color: white;
    ---accent-color: #A7E6FF;
    ---secondary-2: #3ABEF9;
    ---padding: 10px;
    ---border: 1px solid black;
    ---hover: #050C9C;

    /* BUTTONS */
    ---button-padding: 10px;
    ---button-font-color: var(---secondary-color);
    ---button-font-color-2: black;

    /* INPUTS */
    ---input-padding: 10px;
    ---input-border: 1px solid black;

    /* NAV BAR */
    ---nav-bar-padding: 20px;

    /* BORDER */
    ---border-radius: 5px;
}






/* ------------------------------------------------------------------------ */
/* LINKS */
/* ------------------------------------------------------------------------ */
a {
    text-decoration: none;
}





/* HEADER */
/* header {
    position:fixed;
    z-index: 1;
    width: 100%;
} */



/* ------------------------------------------------------------------------ */
/* NAV BAR */
/* ------------------------------------------------------------------------ */
nav {
    padding: var(---nav-bar-padding);
    background-color: var(---primary-color);
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

nav button, h4, img, input, a {
    padding: 20px;
}

nav img {
    width: 80px;
    height: 80px;
    position: relative;
    left: -170px;
}

nav h1 {
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-size: small;
    margin-left: 50px;
}

.total-quantity {
    position: relative;
    height: 30px;
    width: 30px;
    margin-top: -70px;
    margin-left: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
    padding: 2px;
}

.total-price {
    border-top: 1px solid black;
    margin-top: 15px;
}


#cartIcon {
    right: 30px;
    color: white;
    margin-top: 10px;
    position: relative;
}


#cartIcon i {
    font-size: x-large;
}

#cartIcon i {
    margin-left: -10px;
    margin-top: 5px;
}

#cartIcon button {
    height: 60px;
    width: 60px;
    border-radius: var(---border-radius);
}

#cartIcon button:hover {
    background-color: #FE7A36;
    cursor: pointer;
}





#hamburgerButton {
    height: 40px;
    width: 50px;
    margin-top: 15px;
    border-radius: var(---border-radius);
    transition: width 2s;
    display: none;
}

#hamburgerButton:hover {
    background-color: #FE7A36;
    width: 70px;
    cursor: pointer;
}






/* ---------------------------------------------------------------------------- */
/* SEARCH BAR */
/* ---------------------------------------------------------------------------- */
#searchInput {
    padding: var(---input-padding);
    position: relative;
    width: 80px;
    height: 60px;
    border: var(---input-border);
    border-radius: var(---border-radius);
    margin-top: 15px;
    display: none;
}

#searchButton {
    cursor: pointer;
    width: 40px;
    border: var(---input-border);
    border-radius: var(---border-radius);
    height: 60px;
    margin-top: 15px;
    box-shadow: 10px 10px 8px black;
    display: none;
}

#searchButton:hover {
    background-color: #FE7A36;
}

::placeholder {
    text-align: center;
}

#magnifyingGlass {
    display: none;
    position: absolute;
    /* left: 500px; */
    top: 60px;
}






/* -------------------------------------------------------------------------- */
/* MAIN */
/* -------------------------------------------------------------------------- */
main {
    padding: 2px;
    height: auto;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    padding: var(---padding);
    margin-top: 0px;
    grid-gap: 10px;
    height: auto;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    padding: var(---padding);
    /* grid-gap: 10px; */
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}


.productDescription {
    height: auto;
    padding: var(---padding);
    text-align: center;
}

.productDescription h1 {
    margin-top: 20px;
    font-size: large;
}

.productDescription img {
    width: 80px;
}

.productDescription p {
    margin-top: 20px;
}

.mainSubmitButton {
    padding: var(---padding);
}

#mainSubmitButton {
    cursor: pointer;
    width: 100%;
    height: 60px;
    border: var(---input-border);
    border-radius: var(---border-radius);
    background-color: var(---primary-color);
    color: white;
    box-shadow: 10px 10px 8px #bbb;
}

#mainSubmitButton:hover {
    background-color: var(---hover);
    color: white;
}

.nextButton {
    padding: var(---padding);
}

#nextButton {
    cursor: pointer;
    width:100%;
    height: 60px;
    border: var(---input-border);
    border-radius: var(---border-radius);
    background-color: var(---primary-color);
    color: white;
    box-shadow: 10px 10px 8px #bbb;
}

#nextButton:hover {
    background-color: var(---hover);
    color: white;
}


.product img {
    width: 250px;
    box-shadow: 0, 0, 10px;
    margin-left: 10px;
}


.productDetails {
    padding: var(---padding);
    text-align: center;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); */
}

.productDetails img {
    width: 100px;
}

.productReview {
    padding: var(---padding);
}

.productReview textarea {
    width: 100%;
    height: auto;
    padding: var(---padding);
}

.submitReview {
    padding: var(---padding);
    text-align: center;
}

#reviewButton {
    cursor: pointer;
    width: 100%;
    height: 60px;
    border: var(---input-border);
    border-radius: var(---border-radius);
    background-color: var(---primary-color);
    color: white;
    box-shadow: 10px 10px 8px #bbb;
    
}

#reviewButton:hover {
    background-color: var(---hover);
    color: white;
}






.reviews {
    display: flex;
    flex-direction: column;
    grid-gap: 2px;
    padding: var(---padding);
    text-align: left;
    width: auto;
}


.reviews h2 {
    width: 100%;
    text-align: center;
}

.review-image {
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}


.reviews img {
    height: 60px;
    width: 60px;
}



/* ------------------------------------------------------------------- */
/* FOOTER */
/* ------------------------------------------------------------------- */
footer {
    height: auto;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: var(---padding);
    margin-top: 30px;
    width: 100%;
}

.handles {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    background-color: var(---primary-color);
    padding: 2px;
}

.handles img {
    width: 90px;
    height: 90px;
}

#facebookImg {
    margin-left: -60px;
}

#linkedinImg {
    margin-left: -70px;
}

#twitterImg {
    margin-left: -70px;
}

#footerImage {
    width: 80px;
    height: 90px;
    margin-top: 20px;
    position: relative;
    right: 120px;
}

.handles h1 {
    margin-top: 50px;
    margin-left: 60px;
    font-size: x-small;
}

.handles input {
    width: 80px;
    height: 60px;
    margin-top: 40px;
    border-radius: var(---border-radius);
    display: none;
}

.handles button {
    height: 60px;
    width: 40px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: var(---border-radius);
    box-shadow: 10px 10px 8px black;
    transition: width 2s;
    display: none;
}

.handles button:hover {
    background-color: #FE7A36;
    width: 50px;
}

.footerNav {
    display: flex;
    flex-direction: column;
    background-color: var(---primary-color);
    padding: var(---padding);
    border: var(---border);
    margin-top: 20px;
    height: 100px;
    text-align: center;
}

#skep {
    border-top: 1px solid black;
    margin-top: 10px;
    font-size: small;
}

#copyright {
    font-size: small;
    margin-top: 10px;
}


 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 2px;
    top: 0;
    color: black;
    width: 300px; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    font-family: "Lato", sans-serif;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    color: black;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(---primary-color);
    color: black;
    height: 50px;
}

.modal-body {
    padding: var(---padding);
    color: black;
}

.modal-body img {
    width: 50px;
    height: 50px;
}

.modal-body p {
    text-align: left;
    font-weight: 800;
}

.modal-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top: 10px;
    padding: 20px;
}
